@charset "UTF-8";

body {
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;
  line-height: 1.6;
  font-size: 15px;
  //background: #f5f5f5;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
  margin: 0;
  color: rgba(0,0,0,.8);
}

*{
  box-sizing: border-box;
}

a {
  text-decoration:none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none
}

a:-webkit-any-link{
  color: #777;
}

p:first-child{
  margin-top: 0;
}

ol,p,ul {
  margin-bottom: 1em;
  font-size: 16px;
  color: #333;
  margin-top: 0;
}
ul{
  padding-inline-start: 0;
}
li{
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  color: #333;
  font-weight: 400;
  margin: 0 0 30px 0;
  line-height: 1.1;
}

cite {
  font-style: normal
}

@media screen and (max-width:768px) {
  h1 {
    font-size: 25px
  }
}

figure {
  margin-bottom: 2em
}

::-moz-selection {
  color: #fcfcfc;
  background: #00a2ff
}

p::selection {
  background: #262a30;
  color: #f1f1f1
}

blockquote {
  margin: 12px 0;
  border-left: 5px solid #080808;
  padding: 4px 0 5px 10px;
  background: #f1f1f1
}

blockquote p:only-child {
  font-size: 16px;
  color: #080808
}

.alert,.btn,.progress,pre {
  border-radius: 0
}

mark {
  padding: .4px 4px;
  background-color: #9e9e9e;
  color: #000
}

table,table tbody tr th {
  text-align: center
}

